{
  "web": {
    "client_id": "720978887997-5tvk3foplvbv42qpa652josapujtthjj.apps.googleusercontent.com",
    "client_secret": "Na1ucYcn8547n574PDSz6Kz1",
    "redirect_uris": ["postmessage"],
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token"
  }
}

