<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Welcome admin</title>
<meta name="description" content="Welcome to admin console">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css"
	href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400">
<link rel="stylesheet" type="text/css" href="css/admin-welcome.css">

</head>

<body>
	<table>
		<tr>
			<td>
				<div class="container">
					<center>
						<ul class="nomargin">
							<li><a href="javascript:alert('anand@codehate.com')"
								title="EMail" target="_blank"><i
									class="fa fa-envelope fa-3x"></i></a></li>
							<li><a href="http://github.com/codehate" title="Github"
								onclick="triggerGist()"><i class="fa fa-github fa-3x"></i></a></li>
							<li><a href="http://twitter.com/codehate" title="Twitter"
								target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
							<li><a href="http://blog.codehate.com/" title="Blog"
								target="_blank"><i class="fa fa-edit fa-3x"></i></a></li>
							<li><a href="https://instagram.com/anand.sudhanaboina/"
								title="Instagram" target="_blank"><i
									class="fa fa-instagram fa-3x"></i></a></li>
							<li><a href="http://www.linkedin.com/in/anandsudhanaboina/"
								title="LinkedIN" target="_blank"><i
									class="fa fa-linkedin fa-3x"></i></a></li>
							<li><a href="https://news.ycombinator.com/user?id=anand-s"
								title="Blog" target="_blank"><i
									class="fa fa-hacker-news fa-3x"></i></a></li>
							<li><a
								href="http://stackoverflow.com/users/3289097/anand-sudhanaboina?tab=profile"
								title="Stackoverflow" target="_blank"><i
									class="fa fa-stack-overflow fa-3x"></i></a></li>
						</ul>
			</td>
		</tr>
	</table>
	
	</body>

</html>