<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta http-equiv="Cache-control" content="public">
      <title>WTH</title>
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
      <!-- Custom Fonts -->
      <link
         href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
         rel='stylesheet' type='text/css'>
      <link
         href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
         rel='stylesheet' type='text/css'>
      <!-- Custom CSS -->
      <link rel="stylesheet" href="css/creative.css" type="text/css">
      <link rel="stylesheet" href="css/idea.css" type="text/css">
      <link
         href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic"
         rel="stylesheet" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="ideaDetail" class="hackDetail">
    <nav th:include="headerWOLogin::headerWOLogin" id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index:100;"></nav>
      <div class="container" id="main-content">
      <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn; -webkit-animation-name: bounceIn;">
      	<div id="lamp"></div>   
      </i>
      
         <div class="col-md-10 col-sm-10 col-xs-12 col-sm-push-1 col-md-push-1">
            <div class="infosheet">
               <div class="section first">
                  <div class="row">
                     <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 votebox">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" id="ideaStatus">
                     </div>
                  </div>
               </div>
               <div id="smaller-left-ribbon">
                  <div class="edit-left-div">
                     <h3 class="idea-title">Hack an Idea</h3>
                    
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                     <div class="section">
                        <label class="join-label"></label>
                         <h2>Is it an individual contest?</h2>
                        <p class="idea-email">
                        Given the enormity of the challenge, we feel it is a team challenge. If you think you can pull it off alone, feel free to treat it as an individual contest.
                        
                        </p>
                        
                        <h2>Why is this hackathon called the Growth Edition?</h2>
                        <p class="idea-email">
                           With our vision of 15 million daily transacting users (DTUs), it is prudent that we get our brains and hearts to think DTUs, i.e., growth. Hence, the idea for this

hackathon.
                        </p>
                        <h2>Er, what exactly are DTUs?</h2>
                        <p class="objective">
                        DTUs or daily transacting users are the number of unique users transacting on Snapdeal on a given day. DTUs are different from the number of daily transactions. 
10 transactions in a day are not necessarily equal to 10 DTUs.
                        </p>
                        <h2>Can I develop something not specifically focused on DTUs?</h2>
                        <p class="description">
                        Great to know that you have good ideas. You may want to present them on a different forum though. This hackathon is DTU-specific.
                        </p>
                        <h2>How many DTUs do we have today?</h2>
                        <p class="url">
                        	The current DTUs on Snapdeal are ~1.1 lacs.
                        </p>
                        <h2>How do I know if my idea is a good one?</h2>
                        <p class="url">
                        	You will know. Read a bit to know what others say about growth hacks:On Quora (Link to https://www.quora.com/What-are-the-best-examples-of-Growth-Hacking)
                            From Facebook's ex-VP Growth (Link to http://techcrunch.com/2013/01/13/chamath-palihapitiya-on-growth-hacking-and-how-to-create-a-sustainable-
user-acquisition-engine/ )If you are still unsure, ask the fellow geniuses at wth@snapdeal.com
                        </p>
                         <h2>Does every member of my hackathon team need to register separately?</h2>
                        <p class="url">
                        	Thankfully, no. One submission is enough for a team.
                        </p>
                         <h2>Is there a limit to the number of participants in a team?</h2>
                        <p class="url">
                        	Well, theoretically, no. But you don’t want to bring along dozens of people (think about the denominator when dividing the award).
                        </p>
                         <h2>Will all submitted entries be allowed on the hackathon day?</h2>
                        <p class="url">
                        	All submitted entries will be reviewed by a jury comprising members from Technology, Product, Business and Program. Only the shortlisted entries will be allowed 
to develop and demonstrate the solution on the 11th of April.
                        </p>
                        
                        
                          <h2>What are the shortlisting criteria?</h2>
                        <p class="url">
                        A submission will be shortlisted only if
It is a new idea [Ideas that have been experimented with in the past without success or ideas that may be in the process of implementation will not be 
shortlisted.It does not rely excessively on giving out cash incentives to customers.It has the potential to scale and sustain over time
                        </p>
                        
                        
                          <h2>Does the solution need to be technical?</h2>
                        <p class="url">
                     The nature of the solution does not matter. What matters is that it should meet the goal of getting an additional 10,000 transacting users. 

Your solution must

 Be scalable and sustainable

 Not rely on promotions (discounts, cashbacks)

 Be self-sustaining with no dependency on external parties
                        </p>
                        
                        <h2>What growth hacking experiments have we done at Snapdeal?</h2>
                        <p class="url">
              Here are a few recent successful growth hacks:

 User Curated Collections on Apps – A first of its kind initiative getting incremental DTUs & increased engagement with our loyal customers  

 CRUX Widgets- Horizontally increasing our offerings, with FC, Zomato, Cleartrip, Redbus on SD App.

 Big Data Driven Cross Sell Widgets on Home Page - Outbound Communications. Promoting Tennis Balls to someone who bought a tennis racket, Promoting 

Tshirts to someone who bought a Jeans; all insights coming from a model personalized for each customer.
                        </p>
                        
                        <h2>What is expected of the contesting teams?</h2>
                        <p class="url">
                           Submit a synopsis of your idea while registering. You are expected to build a solution towards gaining an incremental 10,000 transacting users daily. The idea is not 
enough; as a team, you are required to develop and give a demo of your solution for tapping more DTUs.
                        </p>
                         
                          <h2>What is the scope of the challenge?</h2>
                        <p class="url">
                           Platform: Snapdeal. Everything that is used on the Snapdeal platform can be used to increase DTUs. Besides buying, you can recharge, pay bills, book flight and bus 

tickets, order food via the Snapdeal platform. Transactions on Shopo and Exclusively are outside the scope of the challenge. 

Solution: Technical or  non-technical provided it meets the shortlisting criteria and can be demonstrated at the hackathon and deployed thereafter.
                        </p>
                        
                         <h2>When is the hackathon?</h2>
                        <p class="url">
     						It starts at 10:30 am on April 11 and ends 24 hours later on April 12.
                        </p>
                        
                         <h2>Who are the judges?</h2>
                        <p class="url">
     						That’s a surprise! We do not want you to go about influencing them.
                        </p>
                        
                         <h2>How do I go about it?</h2>
                        <p class="url">
     						Have an idea? Recruit a team. Build a solution. Remember, you have to take your idea to execution.
                        </p>
                        
                        
                        
                        
                        
                        
                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /container -->
      <script src="js/jquery.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>
   </body>
   <div th:include="footer::footer"></div> 
</html>