<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta http-equiv="Cache-control" content="public">
      <title>WTH</title>
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
      <!-- Custom Fonts -->
      <link
         href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
         rel='stylesheet' type='text/css'>
      <link
         href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
         rel='stylesheet' type='text/css'>
      <!-- Custom CSS -->
      <link rel="stylesheet" href="css/creative.css" type="text/css">
      <link rel="stylesheet" href="css/idea.css" type="text/css">
      <link
         href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic"
         rel="stylesheet" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body id="ideaDetail" class="hackDetail">
    <nav th:include="headerWOLogin::headerWOLogin" id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index:100;"></nav>
      <div class="container" id="main-content">
      <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn; -webkit-animation-name: bounceIn;">
      	<div id="lamp"></div>   
      </i>
      
         <div class="col-md-10 col-sm-10 col-xs-12 col-sm-push-1 col-md-push-1">
            <div class="infosheet">
               <div class="section first">
                  <div class="row">
                     <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 votebox">
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" id="ideaStatus">
                     </div>
                  </div>
               </div>
               <div id="smaller-left-ribbon">
                  <div class="edit-left-div">
                     <h3 class="idea-title">Hack an Idea</h3>
                    
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                     <div class="section">
                        <label class="join-label"></label>
                         <h2>Why have a hack day?</h2>
                        <p class="idea-email">
                        The idea of a “Hack Day” is to give all techies (Product and Engineering) break from their day-to-day planned work and create an environment of innovation and collaboration, by writing code. 
						Collaboration will be achieved by inviting all departments to submit ideas and physically sit with the techies to code their ask.
                         <br/>
                         Collaboration will be achieved by inviting all departments to submit ideas and physically sit with the techies to code their ask.
                        </p>
                        
                        <h2>What is the hack?</h2>
                        <p class="idea-email">
                           This track is meant to create new ideas outside our core product. These ideas can be 
                           anything under the sun as long as they are smart and whacky and add value to Snapdeal 
                           in some form. This would be a team sport, with a team size of 2-6. 
                        </p>
                        <h2>Rules</h2>
                        <p class="objective">
                        <ul>
                           <li> An entry can be submitted by anyone in Snapdeal. But it is mandatory for the “submitter” to participate in the hack e.g. Payal from supply chain wants to build a feature, which she thinks is really useful.</li>
                           <br/>
                           <li>She will submit the feature on wth.snapdeal.com. Any developer, QA, PM who may find her idea equally useful can join her team using the WTH site. 
                           She may also need to talk to the engineering teams to evangelize her idea and get more engineers to help with her idea.
                            On the day of hackathon she will work with the team to execute the idea and can play the part of Project
                             manager, Product manager, QA, Developer or a even a motivational speaker. But her participation is 
                             required for the success of the idea. Payal cannot submit more than 1 idea at a time. 
                           </li>
                            <br/>
                           <li>
                              The scope of any entry i.e. Idea, Feature or Bug should be such that it can be prototyped or fixed during the hours of the Hackathon. The Hack will start at 3 PM and go on till 9 AM next day. It is okay to continue work later as well, but if it cannot be prototyped by 9 AM, it will not qualify for the prize.
                           </li>
                            <br/>
                           <li>
                              The creation of the teams would be done using the tool “What the Hack”. Anyone can go to the entry and "Join the team". In case there are more people interested in working on an idea, the submitter of the entry will have the freedom to choose the required team members.
                           </li>
                            <br/>
                           <li>
                           	   Top ideas, Features and Bug fixes will get a stage on Saturday morning to present their work and winners will be announced at 9 AM Saturday. 
                           </li>
                            <br/>
                        </ul>
                        </p>
                        <h2>Food & Stuff</h2>
                        <p class="description">
                        <ul>
                        	<li>The Hack will start at 3 PM and will continue till 9 AM next day. There will be lots of fun and food stuff planned during the day and night.</li>
                        	 <br/>
                        	<li>We will reserve 2 floors in Tower A of ASF Center for the Hack day. In Bangalore INCA training room will be reserved.</li>
                        	 <br/>
                        	<li>At 9 AM on Saturday we will officially end the hack day with breakfast in the cafeteria and presentations of the top ideas.</li>
                        	 <br/>
                        </ul>
                        
                        </p>
                        <h2>Prizes</h2>
                        <p class="url">
                        	<ul>
                        	<li>There will be scouts thought the day, who will look at different project and select some winners. The prizes will be announced on Friday in the Town Hall.</li>
							 <br/>
							<li>3 Idea winners (Max 4 members). </li>
							 <br/>
							<li>5 Bugs/Feature winners</li>
							 <br/>
							</ul>
                        </p>
                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /container -->
      <script src="js/jquery.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>
   </body>
   <div th:include="footer::footer"></div> 
</html>